mixin navitem(title, iconclass, href)
  li
    i(class=iconclass)
    a(href=href, title=title) #{title}

mixin tile(title, img, color, href)
  div.tile(class=color)
    img(src=img, alt=title)
    h4 #{title}
