mixin navitem(title, img, href)
  li
    a(href=href, title=title)
      img(src=img, alt=title)
      | #{title}


mixin tile(title, img, color, href, links)
  div.tile(class=color)
    img(src=img, alt=title)
    h4 #{title}
    div.subtile
      ul
      each item in links
        li
          a(href="#") #{item}